* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  font-size: 0.0694vw; /* 1px at 1440px */
}

@media (min-width: 1920px) {
  :root {
    font-size: 1.33px;
  }
}

@media (max-width: 991px) {
  :root {
    font-size: 0.1009vw;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 0.2105vw;
  }
}

.img-basic {
  width: 100%;
  height: auto;
}
.container {
  width: 100%;
  max-width: 1274rem;
  margin: 0 auto;
  padding: 0 64rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30rem;
}
.txt-h2 {
  font-size: 120rem;
  font-weight: 700;
}
.txt-h3 {
  font-size: 42rem;
  line-height: 54rem;
  font-weight: 400;
}
.txt-h4 {
  font-size: 24rem;
  line-height: 35rem;
  font-weight: 400;
}
.txt-h5 {
  font-size: 16rem;
  line-height: 28rem;
  font-weight: 400;
}
.ic-20 {
  width: 20rem;
  height: 20rem;
}
.main {
  overflow: hidden;
}

/* Home hero */
.hero {
  padding-top: 110rem;
  background: #070707;
  color: #fff;
  position: relative;
  z-index: 1;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero-logo {
  max-width: 241rem;
  margin-bottom: 30rem;
}
.hero-title {
  max-width: 843rem;
  margin-bottom: 120rem;
}
.hero-circle {
  width: 94rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgba(5, 48, 173, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 83rem;
}
.circle-inner {
  width: 58rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgba(5, 48, 173, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-decor {
  margin: 0 -193rem 0 -163rem;
  height: 804rem;
}

/* Home quote */
.quote {
  background: #070707;
  color: #fff;
  padding-bottom: 142rem;
  position: relative;
  z-index: 2;
}
.quote-img {
  grid-column: 1/5;
  margin-top: -242rem;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.quote-content {
  grid-column: 6/11;
  margin: 43rem 0 140rem;
  position: relative;
}
.quote-comma {
  position: absolute;
  bottom: 100%;
  left: -44rem;
  margin-bottom: 20rem;
  width: 74rem;
}

/* Home about */
.about {
  margin-top: -177rem;
  padding-bottom: 203rem;
  position: relative;
  z-index: 3;
}
.img-logo-big {
  grid-column: 10/13;
  margin-left: -37rem;
  position: absolute;
}
.logo-big {
  width: 930rem;
  aspect-ratio: 1;
  overflow: visible;
}
.about-title {
  grid-column: 1/10;
  color: #e6e6e6;
  width: 911rem;
  height: 145rem;
  margin: 310rem 0 50rem -127rem;
}
.about-content {
  grid-column: 2/8;
  width: 558rem;
  height: 282rem;
}
.content-txt {
  margin-bottom: 30rem;
  color: #070707;
}
.content-txt.two {
  color: #2c2c2c;
}

/* Home about more */
.about-more {
  margin-top: 143rem;
  background: #e6e6e6;
  padding-bottom: 177rem;
}
.about-more-img {
  grid-column: 1/7;
  margin: -186rem 0 0 -103rem;
}
.img-globe {
  width: 559rem;
  height: 533rem;
}
.about-more-content {
  grid-column: 7/13;
  margin-top: 100rem;
}
.content-txt {
  margin-bottom: 30rem;
  color: #070707;
  width: 460rem;
}
.content-txt.two {
  color: #2c2c2c;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin-bottom: 15rem;
}
ul li::before {
  content: "•";
  color: #2c2c2c;
  font-size: 24rem;
  margin-right: 2rem;
  display: inline-block;
}

/* Home product */
.product {
  padding: 166rem 0 79rem;
  background: #070707;
  color: #fff;
  position: relative;
  z-index: 1;
}
.product-title {
  grid-column: 1/13;
  display: flex;
  justify-content: center;
  margin-bottom: 97rem;
  z-index: 2;
}
.title-txtbig {
  width: 532rem;
  opacity: 0.1;
}
.product-img {
  grid-column: 1/7;
  margin-left: -277rem;
  z-index: 2;
}
.img-product {
  width: 676rem;
  height: 493rem;
}
.product-body-title {
  grid-column: 7/13;
  max-width: 558rem;
  margin-top: 58rem;
  z-index: 2;
}
.body-title-txt {
  width: 329rem;
  margin-bottom: 6rem;
}
.product-body-content {
  width: 100%;
}
.body-content-txt {
  width: 380rem;
  margin-bottom: 30rem;
}
.body-content-txt.two {
  width: 100%;
  margin-bottom: 15rem;
  opacity: 0.5;
}
.product-footer {
  grid-column: 1/6;
  width: 460rem;
  margin-top: 62rem;
}
.footer-title {
  width: 316rem;
  margin-bottom: 30rem;
}
.footer-content {
  width: 460rem;
  margin-bottom: 60rem;
  opacity: 0.5;
}
.product-visit {
  width: 184rem;
  height: 60rem;
  background: #0530ad;
  color: #fff;
  border-radius: 30rem;
}
.visit-ellipse {
  width: 14rem;
  aspect-ratio: 1;
  margin-right: 9rem;
}
.visit-edit {
  width: 97rem;
}
.product-footer-chart {
  grid-column: 6/13;
  margin: -62rem 0 0 -2rem;
}
.img-chart {
  width: 767rem;
  height: 561rem;
}
.product-blurred-circle {
  position: absolute;
  z-index: 99;
  top: 249rem;
  left: 284rem;
}
.img-blurred-circle {
  width: 468rem;
  border-radius: 50%;
  filter: blur(200rem);
  aspect-ratio: 1;
  opacity: 0.5;
  background: #0530ad;
}

/* Home culture */
.culture {
  background: #fff;
  padding: 151rem 0 150rem;
  position: relative;
}
.culture-title {
  grid-column: 1/12;
  max-width: 987rem;
  margin-bottom: 43rem;
}
.culture-title-txt {
  color: #e6e6e6;
}
.culture-content {
  grid-column: 3/13;
  max-width: 950rem;
}
.culture-content-txt {
  color: #2c2c2c;
}

/* Culture table */
.culture-table {
  padding-bottom: 150rem;
}
.box {
  max-width: 430rem;
  margin: 0 60rem 60rem 0;
  padding-top: 1rem;
  border-top: 1rem solid rgba(44, 44, 44, 0.5);
}
.title {
  margin: 41rem 0 20rem;
  color: #070707;
  font-weight: 600;
}
.box-1,
.box-3,
.box-5 {
  grid-column: 3/8;
}
.box-2,
.box-4,
.box-6 {
  grid-column: 8/13;
}

/* Home hiring */
.hiring {
  padding-top: 89rem;
  background: #f6f8ff;
}
.hiring-title {
  grid-column: 1/13;
  display: flex;
  justify-content: center;
  margin-bottom: 22rem;
}
.hiring-title-txt {
  opacity: 0.1;
  color: #0530ad;
}
.hiring-content {
  grid-column: 1/13;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 63rem;
}
.hiring-content-txt {
  max-width: 883rem;
  color: #2c2c2c;
}
.hiring-joblist {
  grid-column: 4/11;
  margin: 0 0 60rem -20rem;
  max-width: 598rem;
  color: #2c2c2c;
}
.job-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31rem 20rem;
  border-radius: 10rem;
  background: #f6f8ff;
}
.job-item.active {
  border-bottom: 1rem solid rgba(44, 44, 44, 0.5);
}
.job-item:hover {
  box-shadow: 0 5rem 30rem rgba(10, 46, 148, 0.1);
  background: #fff;
  cursor: pointer;
}
.job-item:hover .job-title {
  color: #0530ad;
}
.job-details {
  text-align: left;
}
.job-title {
  font-weight: 600;
}
.img-arrow-right {
  width: 18rem;
  height: 18rem;
}
.btn-learn-more {
  grid-column: 6/8;
  margin: 0 0 100rem -2rem;
  background: #0530ad;
  color: #fff;
  width: 170rem;
  height: 60rem;
  border-radius: 30rem;
  text-align: center;
}

/* Hiring footer */
.hiring-footer {
  color: #fff;
  background: #f6f8ff;
}
.footer-triangle {
  background: linear-gradient(to bottom, #0a2d94 35%, #1e45b5 100%);
  clip-path: polygon(50% 0, 100% 35%, 100% 100%, 0 100%, 0 35%);
}
.hiring-house {
  grid-column: 1/13;
  margin-top: 277rem;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.img-logo-title-hiring {
  margin-bottom: 25rem;
}
.house-content {
  margin-bottom: 76rem;
}
.house-content-address {
  margin-bottom: 26rem;
}
.house-content-dot {
  margin-bottom: 23rem;
}
.dot-hiring {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-right: 14rem;
}
.img-linkedin {
  width: 30rem;
  aspect-ratio: 1;
  margin-bottom: 63rem;
}
.house-content-footer {
  font-size: 14rem;
  line-height: 22rem;
  font-weight: 400;
  opacity: 0.5;
  margin-bottom: 106rem;
}
.hiring-bitmap {
  background: linear-gradient(to bottom, #1237a0 31%, #1237a0 100%);
  height: 347rem;
  position: relative;
  z-index: 1;
  margin-top: -347rem;
}
.img-bitmap {
  margin-top: 72rem;
  width: 100%;
  height: 275rem;
  object-fit: cover;
}
